[Unit]
Description=SMART Prometheus metrics

[Service]
ExecStart=/usr/sbin/smartprom.py
Restart=always

[Install]
WantedBy=multi-user.target
